In [16]:
import mlxtend
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
import math

data=pd.read_csv('Market_Basket_Optimisation.csv', header=None)

data.shape

(7501, 20)

In [17]:
Articles=[]
for i in range(data.shape[0]):
    for j in range(data.shape[1]):
        if (pd.isnull(data.values[i,j]) == False):
            Articles.append(data.values[i,j])
Article=np.array(Articles)

df=pd.DataFrame(Article, columns=['item'])
df['article_count']=1
df_table=df.groupby('item').sum().sort_values('article_count', ascending=False).reset_index()
df_table.head(15)

                 item  article_count
0       mineral water           1788
1                eggs           1348
2           spaghetti           1306
3        french fries           1282
4           chocolate           1230
5           green tea            991
6                milk            972
7         ground beef            737
8   frozen vegetables            715
9            pancakes            713
10            burgers            654
11               cake            608
12            cookies            603
13           escalope            595
14     low fat yogurt            574

In [18]:
transactions=[]

for i in range(data.shape[0]):
    transactions.append([data.values[i,j] for j in range(data.shape[1]) if (pd.isnull(data.values[i,j]) == False)])

In [19]:
import mlxtend
from mlxtend.preprocessing import TransactionEncoder

te=TransactionEncoder()
te_ary=te.fit(transactions).transform(transactions)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [22]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets=apriori(df, min_support=0.02, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

      support                           itemsets
0    0.020397                          (almonds)
1    0.033329                          (avocado)
2    0.033729                         (brownies)
3    0.087188                          (burgers)
4    0.030129                           (butter)
..        ...                                ...
98   0.020131  (mineral water, whole wheat rice)
99   0.022930             (spaghetti, olive oil)
100  0.025197              (spaghetti, pancakes)
101  0.021197                (shrimp, spaghetti)
102  0.020931              (spaghetti, tomatoes)

[103 rows x 2 columns]

In [25]:
from mlxtend.frequent_patterns import association_rules 
rules = association_rules(frequent_itemsets,metric="confidence",min_threshold=0.3) # associate itemsets with confidence over 70%.
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818
1,(cake),(mineral water),0.081056,0.238368,0.027463,0.338816,1.421397,0.008142,1.151921
2,(chicken),(mineral water),0.059992,0.238368,0.022797,0.380000,1.594172,0.008497,1.228438
3,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
4,(cooking oil),(mineral water),0.051060,0.238368,0.020131,0.394256,1.653978,0.007960,1.257349
5,(frozen smoothie),(mineral water),0.063325,0.238368,0.020264,0.320000,1.342461,0.005169,1.120047
6,(frozen vegetables),(mineral water),0.095321,0.238368,0.035729,0.374825,1.572463,0.013007,1.218270
7,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401
8,(ground beef),(spaghetti),0.098254,0.174110,0.039195,0.398915,2.291162,0.022088,1.373997
9,(low fat yogurt),(mineral water),0.076523,0.238368,0.023997,0.313589,1.315565,0.005756,1.109585
10,(milk),(mineral water),0.129583,0.238368,0.047994,0.370370,1.553774,0.017105,1.209650
11,(olive oil),(mineral water),0.065858,0.238368,0.027596,0.419028,1.757904,0.011898,1.310962
12,(pancakes),(mineral water),0.095054,0.238368,0.033729,0.354839,1.488616,0.011071,1.180529
13,(shrimp),(mineral water),0.071457,0.238368,0.023597,0.330224,1.385352,0.006564,1.137144
14,(soup),(mineral water),0.050527,0.238368,0.023064,0.456464,1.914955,0.011020,1.401255
15,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314
16,(tomatoes),(mineral water),0.068391,0.238368,0.024397,0.356725,1.496530,0.008095,1.183991
17,(whole wheat rice),(mineral water),0.058526,0.238368,0.020131,0.343964,1.442993,0.006180,1.160960
18,(olive oil),(spaghetti),0.065858,0.174110,0.022930,0.348178,1.999758,0.011464,1.267048
19,(tomatoes),(spaghetti),0.068391,0.174110,0.020931,0.306043,1.757755,0.009023,1.190117

In [26]:
from mlxtend.frequent_patterns import association_rules 
rules = association_rules(frequent_itemsets,metric="lift",min_threshold=1.01)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(eggs),(burgers),0.179709,0.087188,0.028796,0.160237,1.837830,0.013128,1.086988
1,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818
2,(burgers),(french fries),0.087188,0.170911,0.021997,0.252294,1.476173,0.007096,1.108844
3,(french fries),(burgers),0.170911,0.087188,0.021997,0.128705,1.476173,0.007096,1.047650
4,(mineral water),(burgers),0.238368,0.087188,0.024397,0.102349,1.173883,0.003614,1.016889
...,...,...,...,...,...,...,...,...,...
89,(pancakes),(spaghetti),0.095054,0.174110,0.025197,0.265077,1.522468,0.008647,1.123778
90,(shrimp),(spaghetti),0.071457,0.174110,0.021197,0.296642,1.703760,0.008756,1.174209
91,(spaghetti),(shrimp),0.174110,0.071457,0.021197,0.121746,1.703760,0.008756,1.057260
92,(spaghetti),(tomatoes),0.174110,0.068391,0.020931,0.120214,1.757755,0.009023,1.058905
93,(tomatoes),(spaghetti),0.068391,0.174110,0.020931,0.306043,1.757755,0.009023,1.190117